<footer>
    <section id="footer">
    <div class="container">
      <div class="row">
        <div class="content__footer col-lg-6 col-md-7 ">
          <div class="mt-5">
            <h6>Thông Tin Liên Hệ</h6>
            <ul>
              <li>
                <p><strong>Địa Chỉ</strong> : Số 10, Đặng Mai, Quốc Khánh, Hà Nội</p>
              </li>
              <li>
                <p><strong>Điện Thoại</strong>
                  <a href="tel:+(12)234-11-24">
                    : +(12)234-11-24</a>
                </p>
              </li>
              <li>
                <p>
                  <strong>Email:</strong>
                  <a href="mailto:example@gmail.com">pets@gmail.com</a>
                </p>
              </li>
            </ul>
            <div class="social ">
              <ul class="d-flex">
                <li><a href="https://www.facebook.com/" title="facebook">
                    <span>
                      <i class="fab fa-facebook-f"></i></span></a>
                </li>
                <li><a href="https://www.twitter.com/" title="twitter"><span>
                      <i class="fab fa-twitter"></i></span></a>
                </li>
                <li><a href="https://www.dribbble.com/" title="Dribbble"><span>
                      <i class="fab fa-dribbble"></i></span></a>
                </li>
                <li><a href="https://myaccount.google.com/intro/profile" title="Google"><span>
                      <i class="fab fa-google"></i></span></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row content__footer col-lg-6 col-md-7">
          <div class="row" id="row">
            <div class="col-sm-4 col-6 mt-5">
              <h6>Lưu Trữ</h6>
              <ul>
                <li><a href="">Tháng 5 2026</a></li>
              </ul>
            </div>
            <div class=" content__footer col-sm-4 col-6 mt-5">
              <div>
                <h6>Danh Mục</h6>
                <ul>
                  <li><a href="">Động Vật</a></li>
                  <li><a href="">Thú Cưng</a></li>
                  <li><a href="">Chăm Sóc Thú Cưng</a></li>
                  <li><a href="">Chưa Phân Loại</a></li>
                </ul>
              </div>
            </div>
            <div class=" content__footer col-sm-4  mt-5">
              <div>
                <h6>Mục Tiêu</h6>
                <ul>
                  <li><a href="">Đăng Nhập</a></li>
                  <li><a href="">Nguồn</a></li>
                  <li><a href="">Phản Hồi</a></li>
                  <li><a href="">WordPress.org</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="end__footer text-center align-center py-lg-4 py-3 mt-5">
      <p>© 2026 Đồ Án Môn Học Lập Trình Web Được Thiết Kế Bởi
        <a href="https://w3layouts.com/">Phú Vọng</a>
      </p>
    </div>
  </section>
</footer>